<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center align-content-center">
  <div class="mb-4">
    <h2>SIGN-UP</h2>
    <p class="mt-2 mb-2">서비스 사용을 위한 회원 가입</p>
  </div>
  <div class="mb-2">
    <form th:action="@{/user}" method="post">
      <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

</body>
</html>