<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">Blog에 오신 걸 환영합니다!</h4>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}" >
                <header class="mb-4">
                    <h1 class="mb-1" th:text="${article.title}"></h1>
                    <div class="text-muted fst-italic mb-2"
                         th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                </header>
                <section>
                    <p class="mb-4" th:text="${article.content}"></p>
                </section>
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/articles/new-article?id={articleId}(articleId=${article.id})}'|">수정하기</button>
                <button type="button" class="btn btn-secondary" id="delete-btn">삭제하기</button>
                <br>
                <br>
                <button type="button" class="btn " th:onclick="|location.href='@{/articles}'|">홈으로</button>
            </article>
        </div>
    </div>
</div>

<script src="/js/article.js"></script>
</body>
</html>