<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">Blog에 오신 걸 환영합니다!</h4>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <header class="mb-4">
                    <input type="text" id="title" class="form-control" th:value="${article.title}" placeholder="제목">
                </header>
                <section>
                    <textarea class="form-control h-25"  rows="10" id="content" placeholder="내용을 적어주세요" th:text="${article.content}"></textarea>
                </section>
                <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary" >수정하기</button>
                <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary" >생성하기</button>
            </article>
        </div>
    </div>
</div>


<script src="/js/article.js"></script>
</body>
</html>